Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAuto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAuto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutonMalliID1" type="xs:int" />
      <xs:element minOccurs="0" name="AutonMerkkiID1" type="xs:int" />
      <xs:element minOccurs="0" name="Hinta1" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Mittarilukema1" type="xs:int" />
      <xs:element minOccurs="0" name="Moottorin_tilavuus1" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolttoaineID1" type="xs:int" />
      <xs:element minOccurs="0" name="Rekisteri_paivamaara1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VaritID1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="ArrayOfAutonMerkki">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutonMerkki" nillable="true" type="tns:AutonMerkki" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutonMerkki" nillable="true" type="tns:ArrayOfAutonMerkki" />
  <xs:complexType name="AutonMerkki">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Merkkinimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutonMerkki" nillable="true" type="tns:AutonMerkki" />
  <xs:complexType name="ArrayOfAutonmallit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Autonmallit" nillable="true" type="tns:Autonmallit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutonmallit" nillable="true" type="tns:ArrayOfAutonmallit" />
  <xs:complexType name="Autonmallit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MalliNimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerkkiId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autonmallit" nillable="true" type="tns:Autonmallit" />
  <xs:complexType name="ArrayOfPolttoaine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Polttoaine" nillable="true" type="tns:Polttoaine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolttoaine" nillable="true" type="tns:ArrayOfPolttoaine" />
  <xs:complexType name="Polttoaine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Polttoaineennimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Polttoaine" nillable="true" type="tns:Polttoaine" />
  <xs:complexType name="ArrayOfVari">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vari" nillable="true" type="tns:Vari" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVari" nillable="true" type="tns:ArrayOfVari" />
  <xs:complexType name="Vari">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Varinnimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vari" nillable="true" type="tns:Vari" />
</xs:schema>