Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51138/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAuto" />
  <xs:element name="TestDatabaseConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDatabaseConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="biili" nillable="true" type="q1:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seurcar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seurcarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="seurcarResult" nillable="true" type="q2:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edellcar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edellcarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="edellcarResult" nillable="true" type="q3:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAutoMakers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAutoMakersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="getAllAutoMakersResult" nillable="true" type="q4:ArrayOfAutonMerkki" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAutoModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MerkkiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAutoModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="getAutoModelsResult" nillable="true" type="q5:ArrayOfAutonmallit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="GetFuelResult" nillable="true" type="q6:ArrayOfPolttoaine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfAuto" minOccurs="0" name="GetColorResult" nillable="true" type="q7:ArrayOfVari" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>